<h1><%= product.name %> (ID: <%= product.id%>)</h1>

<p>Item with ID <%= product.id %> is a <%= product.name %> and costs <%= product.price %> (or <%= product.price_with_vat %> with a VAT level of <%= product.vat %>).</p>